/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 70%;
    margin: 50px auto;
}

body{
    font-family: 'Fredoka' , 'sans-serif';
}

/* Regole header */
h1{
    color: brown;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
}

/* Regole main */

.col{
    /* DEBUG */
    background-color: rgb(15, 14, 23);
    min-height: 100px;
    box-shadow: 8px 8px 5px #dedede;
    width: calc((100% / 3.3));
    float: left;
    margin: 40px 20px 40px;
}


.row::after{
    content: "";
    display: table;
    clear: both;
}

img{
    float: left;
    height: 100px;
    width: auto;
    margin-right: 10px;
}

h2,h4{
    color: white;
    margin-bottom: 10px;
}

a{
    color: lightblue;
    text-decoration: none;
}
